workflows/n8n_quran_reels_workflow.json
{
  "name": "Quran Reel -> Telegram (Ready)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegramBotToken",
              "value": "6236913085:AAFiG6CdCtnzGDpv2Q-PuJcWtd-wyicQrfI"
            },
            {
              "name": "telegramChatId",
              "value": "1512616750"
            },
            {
              "name": "imageUrl",
              "value": "=https://picsum.photos/1080/1920?random={{$now.toMillis()}}"
            }
          ],
          "number": [
            {
              "name": "ayahNumber",
              "value": "={{Math.floor(Math.random()*6236)+1}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Prepare Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "url": "=https://api.alquran.cloud/v1/ayah/{{$json.ayahNumber}}/editions/quran-uthmani,ar.alafasy",
        "responseFormat": "json",
        "options": {}
      },
      "id": "3",
      "name": "Get Ayah + Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const ayahText = $json.data[0].text;\nconst audioUrl = $json.data[1].audio;\nconst reciter = $json.data[1].edition.englishName;\nconst inputs = $item(0).$node['Prepare Inputs'].json;\nreturn [{\n  ayahText,\n  audioUrl,\n  imageUrl: inputs.imageUrl,\n  telegramBotToken: inputs.telegramBotToken,\n  telegramChatId: inputs.telegramChatId,\n  caption: `آية اليوم ${inputs.ayahNumber}\\n${ayahText}\\nالقارئ: ${reciter}`\n}];"
      },
      "id": "4",
      "name": "Prepare Metadata",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{$json.imageUrl}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "5",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 190]
    },
    {
      "parameters": {
        "url": "={{$json.audioUrl}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "6",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 410]
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "id": "7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "fileName": "/tmp/quran/image.jpg",
        "dataPropertyName": "data"
      },
      "id": "8",
      "name": "Write Image",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "fileName": "/tmp/quran/audio.mp3",
        "dataPropertyName": "data_1"
      },
      "id": "9",
      "name": "Write Audio",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1560, 380]
    },
    {
      "parameters": {
        "command": "mkdir -p /tmp/quran && D=$(ffprobe -v error -show_entries format=duration -of default=nw=1:nk=1 /tmp/quran/audio.mp3) && ffmpeg -y -loop 1 -i /tmp/quran/image.jpg -i /tmp/quran/audio.mp3 -filter_complex \"[0:v]scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920,zoompan=z='min(zoom+0.0008,1.08)':d=1:s=1080x1920:fps=30,eq=contrast=1.05:saturation=1.1,format=yuv420p[v]\" -map \"[v]\" -map 1:a -t $D -c:v libx264 -preset medium -crf 22 -c:a aac -b:a 192k -r 30 -vf \"drawtext=fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf:text='{{$json.ayahText}}':fontcolor=white:fontsize=52:borderw=4:bordercolor=black@0.7:x=(w-text_w)/2:y=h*0.82\" /tmp/quran/video.mp4"
      },
      "id": "10",
      "name": "Render Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "filePath": "/tmp/quran/video.mp4"
      },
      "id": "11",
      "name": "Read Video",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$json.telegramBotToken}}/sendVideo",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "chat_id",
              "value": "={{$json.telegramChatId}}"
            },
            {
              "name": "caption",
              "value": "={{$json.caption}}"
            }
          ]
        },
        "options": {}
      },
      "id": "12",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Prepare Inputs", "type": "main", "index": 0}]]
    },
    "Prepare Inputs": {
      "main": [[{"node": "Get Ayah + Audio", "type": "main", "index": 0}]]
    },
    "Get Ayah + Audio": {
      "main": [[{"node": "Prepare Metadata", "type": "main", "index": 0}]]
    },
    "Prepare Metadata": {
      "main": [[
        {"node": "Download Image", "type": "main", "index": 0},
        {"node": "Download Audio", "type": "main", "index": 0}
      ]]
    },
    "Download Image": {
      "main": [[{"node": "Merge", "type": "main", "index": 0}]]
    },
    "Download Audio": {
      "main": [[{"node": "Merge", "type": "main", "index": 1}]]
    },
    "Merge": {
      "main": [[
        {"node": "Write Image", "type": "main", "index": 0},
        {"node": "Write Audio", "type": "main", "index": 0}
      ]]
    },
    "Write Image": {
      "main": [[{"node": "Render Video", "type": "main", "index": 0}]]
    },
    "Write Audio": {
      "main": [[{"node": "Render Video", "type": "main", "index": 0}]]
    },
    "Render Video": {
      "main": [[{"node": "Read Video", "type": "main", "index": 0}]]
    },
    "Read Video": {
      "main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}
